<html ng-app="spec">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SPEC by Grzegorz Pliś</title>
    <script src="AngularJS/angular.min.js"></script>
    <script src="AngularJS/angular-resource.js"></script>
    <script src="AngularJS/angular-route.js"></script>
    <script src="AngularJS/ngStorage/ngStorage.js"></script>
    <script src="bootstrap/js/ui-bootstrap-tpls-2.1.3.min.js"></script>

    <script src="js/app.js" charset="utf-8"></script>

    <script type="text/javascript" src='js/services/LoginService.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/services/UserService.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/services/AdvertisementService.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/controllers/AddAdController.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/controllers/NavbarController.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/controllers/HomeController.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/controllers/LoginController.js' charset="utf-8"></script>
    <script type="text/javascript" src='js/controllers/UserController.js' charset="utf-8"></script>
    <script type="text/javascript" src='/js/controllers/AdvController.js' charset="utf-8"></script>



    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="bootstrap/css/sb-admin.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <script type="text/javascript" src='AngularJS/http-auth-interceptor.min.js' charset="utf-8"></script>
    <script type="text/javascript" src='AngularJS/ngStorage/ngStorage.js' charset="utf-8"></script>
    <script type="text/javascript" src='jQuery/jquery-3.1.1.min.js' charset="utf-8"></script>


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarController">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/    ">SPEC</a>
    </div>


    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b-->
                    <!--class="caret"></b></a>-->

        <li ng-if="email" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false"> {{email}} <span class="caret"></span></a>

            <ul class="dropdown-menu">
                <li><a href="#/profile"><i class="fa fa-fw fa-user"></i>Profil</a></li>
                <li ng-if="email"><a href="#/logout" ng-click="removeUserFromStorage()"><i class="fa fa-fw fa-power-off"></i> Wyloguj </a></li>

            </ul>

        </li>

        <li ng-if="!email"><a href="#/login"><i class="fa fa-caret-right"></i> Zaloguj</a></li>
        <li ng-if="!email"><a href="#/register"><i class="fa fa-plus-square-o "></i> Zarejestruj</a></li>

        <!--<li ng-if="email"><a>{{email}}</a></li>-->
    </ul>

    <ul class="dropdown-menu message-dropdown">
        <li class="message-preview">
            <a href="#">
                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                    <div class="media-body">
                        <h5 class="media-heading"><strong>Admin</strong>
                        </h5>
                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="message-preview">
            <a href="#">
                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                    <div class="media-body">
                        <h5 class="media-heading"><strong>John Smith</strong>
                        </h5>
                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="message-preview">
            <a href="#">
                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                    <div class="media-body">
                        <h5 class="media-heading"><strong>John Smith</strong>
                        </h5>
                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="message-footer">
            <a href="#">Read All New Messages</a>
        </li>
        </li>
    </ul>
    </li>

    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">

                       <li>
                <a href="#/addAd"><i class="fa fa-plus-square-o "></i></i> Dodaj ogłoszenie</a>
            </li>
            <li>


            <li>
                <a href="#/all" data-toggle="collapse" data-target="#demo"><i
                        class="fa fa-fw fa-arrows-v"></i>Kategorie ofert <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse" ng-model="$ctrl.orderProp">
                    <li >
                        <a href="#/selectedCategory">Murarz</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Hydraulik</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Elektryk</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Cieśla</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Glazurnik</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Tynkarz</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Gazownik</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Stolarz</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Architekt</a>
                    </li>
                    <li>
                        <a href="#/selectedCategory">Szklarz</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#/contact"><i class="fa fa-fw fa-dashboard"></i> Kontakt</a>
            </li>
        </ul>
    </div>
    Navigation

</nav>
<div ng-view></div>

<div class="col-sm-offset-2 " >

<!--<footer>-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<hr>-->
            <!--<p>Copyright &copy; Grzegorz Pliś 2017</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</footer>-->
</body>
</html>
