<div class="tabcustom">
    <form>


        <p>Nazwa usługi:</p>
        <input type="text" class="form-control" placeholder="Nazwa usługi" ng-model="advertisement.title">
        <br>
        <p>Opis usługi:</p>
        <textarea name="description" cols="50" class="form-control" rows="10"
                  ng-model="advertisement.description"></textarea>
        <br>

        <p>Kategoria:</p>

<!--        <select class="form-control btn-default" ng-model="advertisement.category">
            <option ng-repeat="c in categoryList" value="{{c}}">{{c.name}}</option>
        </select>-->

        <div class="panel-heading"><b><i>Wybierz kategorie ogłoszenia</i></b></div>
        <div class="panel-body">
            <label ng-repeat="f in categoryList">
                <input type="checkbox" value="{{f}}" name="{{f.id_feature}}" ng-model="advertisement.category[]">
                {{f.name}}
                <br/>
            </label>
        </div>

        <div ng-repeat="c in categoryList"><p>{{c.name}}</p></div>
        <br>

        <p>Cena:</p><input type="number" class="form-control" ng-model="advertisement.price"/>
        <br/>


        <p>Dodaj zdjęcie</p>
        <div class="form-group col-sm-4">
            <div class="img-picker"></div>
        </div>


        <div class="col-sm-12">
            <p align="center"><br/>
                <button type="button" class="btn btn-primary" ng-click="addAd()">Wstaw ogłoszenie</button>
                <button type="reset" class="btn btn-default">Wyczyść</button>
            </p>
        </div>

    </form>
</div>
